telemetry model-driven
 destination-group PIPELINE
  address-family ipv4 {{ telemetry_host }} port {{ telemetry_port }}
   encoding self-describing-gpb
   protocol tcp
  !
 !
 sensor-group CPU
  sensor-path Cisco-IOS-XR-wdsysmon-fd-oper:system-monitoring/cpu-utilization
 !
 sensor-group OSPF
  sensor-path Cisco-IOS-XR-ipv4-ospf-oper:ospf/processes/process/default-vrf/ospf-summary
 !
 sensor-group INTFS
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/data-rate
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
 !
 sensor-group MEMORY
  sensor-path Cisco-IOS-XR-nto-misc-oper:memory-summary/nodes/node/summary
 !
 sensor-group ROUTING
  sensor-path Cisco-IOS-XR-ip-rib-ipv4-oper:rib/rib-table-ids/rib-table-id/summary-protos
 !
 subscription SUB1
  sensor-group-id CPU sample-interval 10000
  sensor-group-id OSPF sample-interval 10000
  sensor-group-id INTFS sample-interval 10000
  sensor-group-id MEMORY sample-interval 10000
  sensor-group-id ROUTING sample-interval 10000
  destination-id PIPELINE
